img {
  width: 300px;
  height: 300px;
  border-radius: 90px;
  object-fit: cover;
}

//////////////////////////
//// Header
/////////////////////////

//////////////////////////
//// Home Page
/////////////////////////



//////////////////////////
//// Slime Index Page
/////////////////////////


//////////////////////////
//// Slime Create Page
/////////////////////////


//////////////////////////
//// Slime Show Page
/////////////////////////


//////////////////////////
//// Slime Edit Page
/////////////////////////


//////////////////////////
//// Foods Index Page
/////////////////////////


//////////////////////////
//// Foods Create Page
/////////////////////////


//////////////////////////
//// Foods Show Page
/////////////////////////


//////////////////////////
//// Foods Edit Page
/////////////////////////


//////////////////////////
//// Toys Index Page
/////////////////////////


//////////////////////////
//// Toys Create Page
/////////////////////////


//////////////////////////
//// Toys Show Page
/////////////////////////


//////////////////////////
//// Toys Edit Page
/////////////////////////